@charset "UTF-8";

*{
	padding: 0;
	margin: 0;
}

.productList{
	width: 90%;
	height: 500px;
	margin: 0 auto;
}

.product-list-table{
    margin: 0 auto;
}

.product{
	float: left;
	width: 33.3333%;
	margin: 3% 0;
}

a{
	text-decoration: none;
}
